body {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

main {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(240, 238, 238);
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: "Inter", sans-serif;
}

.labels {
  text-align: justify;
}

.centre_aligned_texts {
  text-align: center;
}

.Signup_Fields {
  border: 2px solid rgb(100, 98, 98);
  color: black;
  padding-left: 2%;
  padding-right: 70%;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  text-align: left;
}

#signup_button {
  background-color: blueviolet;
  border: 0px;
  color: white;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
}

.purple_text {
  color: blueviolet;
}

.purple_text:hover {
  color: rgb(74, 11, 80);
}

#signup_button:hover {
  color: ffffff;
  background-color: rgb(74, 11, 80);
}

.other_signup_options {
  margin-right: 10%;
}

@media screen and (max-width: 1440px) {
  .Signup_Fields {
    border: 2px solid rgb(100, 98, 98);
    color: black;
    padding-left: 2%;
    padding-right: 70%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    text-align: left;
  }
}

@media screen and (max-width: 992px) {
  .Signup_Fields {
    border: 2px solid rgb(100, 98, 98);
    color: black;
    padding-left: 2%;
    padding-right: 30%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    text-align: left;
  }

  #signup_button {
    background-color: blueviolet;
    border: 0px;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
  }
}

@media screen and (max-width: 375px) {
  .Signup_Fields {
    border: 2px solid rgb(100, 98, 98);
    color: black;
    padding-left: 2%;
    padding-right: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    text-align: left;
  }

  #signup_button {
    background-color: blueviolet;
    border: 0px;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
  }
}
